<a href="https://colab.research.google.com/github/stevenhastings/DS_Workshops/blob/main/Generating_Mock_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install Fortuna

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting Fortuna
  Downloading Fortuna-5.0.5.tar.gz (210 kB)
     |████████████████████████████████| 210 kB 5.1 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Building wheels for collected packages: Fortuna
  Building wheel for Fortuna (PEP 517) ... done
  Created wheel for Fortuna: filename=Fortuna-5.0.5-cp37-cp37m-linux_x86_64.whl size=572230 sha256=be0451f8641dd68a76a534b82b953b617dcae623cc06bfb8cb7d39b2452e9a78
  Stored in directory: /root/.cache/pip/wheels/09/05/4d/b9c9962f5bda56d159938d1ac335afdb2bbc47b5bcad6eca04
Successfully built Fortuna
Installing collected packages: Fortuna
Successfully installed Fortuna-5.0.5

In [2]:
!pip install MonkeyScope

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting MonkeyScope
  Downloading MonkeyScope-1.4.4.tar.gz (64 kB)
     |████████████████████████████████| 64 kB 2.0 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Building wheels for collected packages: MonkeyScope
  Building wheel for MonkeyScope (PEP 517) ... done
  Created wheel for MonkeyScope: filename=MonkeyScope-1.4.4-cp37-cp37m-linux_x86_64.whl size=164678 sha256=875d42bc53ae1c05fc123c892a84f816eaf5e64ed050a94400c19713bcc5fc4d
  Stored in directory: /root/.cache/pip/wheels/94/16/b2/f5362876169718becdaa85b6de728271fcfbfff898b135009b
Successfully built MonkeyScope
Installing collected packages: MonkeyScope
Successfully installed MonkeyScope-1.4.4

In [3]:
from Fortuna import random_int, percent_true

In [4]:
random_int(1, 20)

13

In [5]:
random_track = lambda: "Web" if percent_true(80) else "DS"

In [6]:
random_track()

'Web'

In [7]:
from MonkeyScope import distribution

In [8]:
distribution(random_track)

Distribution of 1000000 samples:
 DS: 19.9809%
 Web: 80.0191%

In [9]:
random_gender = lambda: "Male" if percent_true(80) else "Female" if percent_true(90) else "Non-binary"

In [10]:
distribution(random_gender)

Distribution of 1000000 samples:
 Female: 18.0469%
 Male: 79.9677%
 Non-binary: 1.9854%

In [11]:
from Fortuna import front_poisson, RandomValue

In [12]:
distribution(front_poisson, 20)

Statistics of 1000 samples:
 Minimum: 0
 Median: 5
 Maximum: 15
 Mean: 4.991
 Std Deviation: 2.27905969933065
Distribution of 1000000 samples:
 0: 0.6595%
 1: 3.4016%
 2: 8.4094%
 3: 14.0487%
 4: 17.5641%
 5: 17.5714%
 6: 14.6456%
 7: 10.4281%
 8: 6.5263%
 9: 3.5884%
 10: 1.7731%
 11: 0.8261%
 12: 0.3539%
 13: 0.1333%
 14: 0.049%
 15: 0.0157%
 16: 0.0037%
 17: 0.0016%
 18: 0.0003%
 19: 0.0002%

In [13]:
random_age = RandomValue(range(18, 61), front_poisson)

In [14]:
random_age()

26

In [15]:
distribution(random_age)

Statistics of 1000 samples:
 Minimum: 20
 Median: 29
 Maximum: 39
 Mean: 28.879
 Std Deviation: 3.2941175161506018
Distribution of 1000000 samples:
 18: 0.0024%
 19: 0.0238%
 20: 0.1163%
 21: 0.4392%
 22: 1.2061%
 23: 2.5756%
 24: 4.621%
 25: 7.0563%
 26: 9.4917%
 27: 11.34%
 28: 12.1524%
 29: 11.9016%
 30: 10.6124%
 31: 8.8215%
 32: 6.7808%
 33: 4.844%
 34: 3.2611%
 35: 2.0729%
 36: 1.2502%
 37: 0.696%
 38: 0.3819%
 39: 0.186%
 40: 0.09%
 41: 0.0445%
 42: 0.0179%
 43: 0.0091%
 44: 0.0035%
 45: 0.0011%
 46: 0.0003%
 47: 0.0002%
 48: 0.0001%
 49: 0.0001%

In [16]:
from Fortuna import CumulativeWeightedChoice, RelativeWeightedChoice

In [17]:
class RandomUser:
    # CLASS METHODS
    random_age = RandomValue(
        range(18, 60),
        front_poisson,
    )
    # CLASS METHOD
    random_track = CumulativeWeightedChoice((
        (80, "Web"),
        (100, "DS"),
    ))
    # CLASS METHOD
    random_gender = RelativeWeightedChoice((
        (80, "Male"),
        (18, "Female"),
        (2, "Non-binary")
    ))

    def __init__(self):
        self.age = self.random_age()
        self.track = self.random_track()
        self.gender = self.random_gender()
        
    # Dunder/Magic Method
    def __repr__(self):
        output = (
            f"Track: {self.track}",
            f"Age: {self.age}",
            f"Gender: {self.gender}",
        )
        return "\n".join(output)

    # Instance Method
    def to_dict(self):
        return {
            "Track": self.track,
            "Age": self.age,
            "Gender": self.gender,
        }

In [17]:
user = RandomUser()
user

In [18]:
import pandas as pd

In [19]:
df = pd.DataFrame(RandomUser().to_dict() for _ in range(10000000))

df

        Track  Age  Gender
0         Web   28    Male
1          DS   31    Male
2         Web   29    Male
3         Web   23    Male
4         Web   33    Male
...       ...  ...     ...
9999995   Web   33    Male
9999996   Web   31  Female
9999997   Web   28  Female
9999998    DS   26    Male
9999999   Web   25    Male

[10000000 rows x 3 columns]

In [20]:
from Fortuna import FlexCat

In [21]:
random_name = FlexCat({
    "male": ("John", "Paul", "George", "Ringo"),
    "female": ("Mary", "Jane", "April", "Andrea"),
    "non-binary": ("Pat", "Jaime", "Jessie", "Riley"),
}, key_bias="front_linear", val_bias="truffle_shuffle")

In [22]:
random_name("male")

'Paul'

In [23]:
random_name()

'John'

In [24]:
flat_dist = RandomValue((
    'Red',
    'Orange',
    'Yellow',
    'Green',
    'Blue',
    'Purple',
))

In [25]:
distribution(flat_dist)

Distribution of 1000000 samples:
 Blue: 16.6587%
 Green: 16.6775%
 Orange: 16.6288%
 Purple: 16.6713%
 Red: 16.6741%
 Yellow: 16.6896%

In [26]:
from Fortuna import TruffleShuffle

In [27]:
wide_dist = TruffleShuffle((
    'Red',
    'Orange',
    'Yellow',
    'Green',
    'Blue',
    'Purple',
))

In [28]:
distribution(wide_dist)

Distribution of 1000000 samples:
 Blue: 16.6736%
 Green: 16.6379%
 Orange: 16.6773%
 Purple: 16.6617%
 Red: 16.6608%
 Yellow: 16.6887%

### ***A flat uniform distribution is likely to give us streaks of the same value. Wheras a wide distribution "can't".***

In [39]:
for _ in range(10):
    print(wide_dist())

Orange
Red
Purple
Blue
Yellow
Orange
Red
Purple
Green
Yellow

In [36]:
for _ in range(10):
    print(flat_dist())

Orange
Blue
Blue
Yellow
Green
Yellow
Yellow
Orange
Green
Red

In [40]:
from MonkeyScope import timer
from Fortuna import shuffle, fisher_yates, knuth_a
from random import shuffle as r_shuffle

In [41]:
n = 10000
cycles = 10

## Fortuna's Fisher Yates

In [45]:
from Fortuna import random_below

In [46]:
array = list(range(0,10000))

for i in reversed(range(1, len(array))):
    j = random_below(i + 1)
    array[i], array[j] = array[j], array[i]

In [42]:
arr = list(range(n))
timer(r_shuffle, arr, cycles=cycles)

Typical Timing: 6921711 ± 228594 ns

## Fortuna's Knuth B, Default Shuffle

In [47]:
size = len(array) - 1
for i in reversed(range(size)):
    j = random_int(i, size)
    array[i], array[j] = array[j], array[i]

In [48]:
arr = list(range(n))

timer(shuffle, arr, cycles=cycles)

Typical Timing: 863240 ± 9033 ns